@media (min-width: 1280px) {
  .container {
    width: 1250px;
  }
  .full-width-container {
    padding-right: 60px !important;
    padding-left: 60px !important;
  }
}
.full-width-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

* {
  color: #fdfdfd;
}
body {
  background-image: url('/sites/default/files/assets/drleather-particle_effect-background1.svg'), url('/sites/default/files/assets/drleather-web-background-Jun2019.jpg');
  background-position: bottom 60px right, top center;
  background-size: 68%, 100%;
  background-repeat: no-repeat, repeat-y;
  background-color: #242424;
  color: #fdfdfd;
}
body.path-leather-technology {
  background-image: url('/sites/default/files/assets/drleather-particle_effect-background1.svg'), url('/sites/default/files/assets/drleather-web-background-mobile-repeat_y.jpg');
  background-size: 68%, 100%;
  background-repeat: no-repeat, repeat-y;
}
@media (max-width: 767px) {
  body {
    background-image: url('/sites/default/files/assets/drleather-particle_effect-background1.svg'), url('/sites/default/files/assets/drleather-web-background-mobile-repeat_y.jpg');
    background-position: bottom 80px right, top center;
    background-size: 100%, 100%;
    background-repeat: no-repeat, repeat-y;
  }
}


.page-header {
  padding-bottom: 0 !important;
  margin: 0 !important;
  border-bottom: none !important;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

h1 {
  font-family: 'Avenir LT W01_35 Light1475496', 'Avenir', sans-serif;
}

.btn-primary {
  font-size: 21px;
  border-radius: 30px;
  padding: 10px 30px;
  color: #222222;
  margin: 10px 0;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #000 !important;
}

.breadcrumb {
  background-color: transparent;
}

@media (max-width: 767px) {
  h1 {
    font-size: 2em !important;
  }
  h2 {
    font-size: 20px !important;
  }
}

@media (max-width: 639px) {
  .col-xxs-12 {
    width: 100%;
  }
}


