.home-intro {
  h1 {
    position: relative;
    font-weight: 100;
    font-size: 40px;
  }
  h1::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -60px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: $brand-primary;
    transition: 0.4s;
  }
  h3 {
    color: $brand-primary;
  }
  ul {
    padding-left: 17px;
    li {
      padding-bottom: 5px;
    }
  }
}

.home-categories {
  margin-top: 60px;
  h2 {
    border-bottom: 1px solid $brand-primary;
    padding-bottom: 10px;
    margin-bottom: 25px;
    a {
      color: $brand-secondary;
    }
    a:hover {
      color: #e19e00;
      text-decoration: none !important;
    }
  }
}

/* The animation code */
@keyframes growblob {
  0% {
    height: 40px;
  }
  100% {
    height: 90px;
  }
}

/* The element to apply the animation to */
.home-intro h1::before {
  animation-name: growblob;
  animation-duration: .5s;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@media (max-width: 767px) {
  .home-intro .home-intro-left {
    margin-bottom: 120px;
    position: relative;
  }
  .home-intro-left::after {
    content: '';
    padding: 15px 50px;
    position: absolute;
    bottom: -75px;
    background: #fcf714;
    border-radius: 39px;
    left: 15px;
  }
}