.page-node-type-leather-technology,
.sub-page-style {
  .left-column {
    margin-bottom: 20px;
    h1 {
      margin-top: 0;
      position: relative;
      font-weight: 100;
      font-size: 40px;
    }
    h1::before {
      content: '';
      position: absolute;
      top: -10px;
      left: -60px;
      width: 40px;
      height: 90px;
      border-radius: 30px;
      background-color: $brand-primary;
    }
  }
}

@media (max-width: 767px) {
  .consultancy-heading,
  .consultancy-page .right-column ul {
    margin-bottom: 120px;
    position: relative;
  }
  .consultancy-heading::after,
  .consultancy-page .right-column ul::after {
    content: '';
    padding: 15px 50px;
    position: absolute;
    bottom: -45px;
    background: #fcf714;
    border-radius: 39px;
    left: 0;
  }
}
