/**
 * Default Variables.
 *
 * Modify this file to provide default Bootstrap Framework variables. The
 * Bootstrap Framework will not override any variables defined here because it
 * uses the `!default` flag which will only set their default if not already
 * defined here.
 *
 * You can copy existing variables directly from the following file:
 * ./THEMENAME/bootstrap/assets/stylesheets/bootstrap/_variables.scss
 */

// Set the proper directory for the Bootstrap Glyphicon font.
$icon-font-path: '../bootstrap/assets/fonts/bootstrap/';

$brand-primary: #fcf715;
$brand-secondary: #ffba00;


$font-family-sans-serif: 'Proxima Nova A W05 Regular', 'Proxima Nova', sans-Serif;
$font-family-base:        $font-family-sans-serif;
$headings-font-family: 'Avenir LT W01_95 Black1475556', 'Avenir', sans-Serif;

$font-size-h1:            30px;
$font-size-h2:            20px;
$font-size-h3:            20px;
$font-size-h4:            18px;

$line-height-base: 1.7;
$headings-line-height:    1.2;