#block-views-block-leather-technology-breadcrumb-block-1 {
  margin: 30px 0;
  .parent-link,
  .separator,
  .child-link {
    display: inline-block;
    margin-right: 5px;
  }
  .parent-link {
    a {
      color: #fff !important;
    }
  }
  .child-link {
    color: #222222 !important;
    padding: 10px 12px;
    border-radius: 30px;
    background-color: $brand-primary;
  }
}

@media (max-width: 767px) {
  #block-views-block-leather-technology-breadcrumb-block-1 {
    margin: 10px 0;
    font-size: 13px;
  }
  .child-link  {
    padding: 4px 10px;
  }
}