@media (min-width: $screen-sm-min) {
  .copyright-right {
    text-align: right;
  }
}

.footer {
  margin-top: 160px !important;
  padding-top: 20px !important;
  padding-bottom: 17px !important;
  background-color: #141414;
  border: none !important;
  font-family: $headings-font-family;
  .copyright-left {
    color: $brand-primary;
    p {
      color: $brand-primary;
    }
  }
  .copyright-right {
    color: #fff;
    a {
      color: #fff;
    }
  }
}