.region-navigation .logo {
  max-width: 230px;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right !important;
  }
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent !important;
}

.menu.menu--main.nav.navbar-nav {
  a {
    color: $brand-secondary;
    font-family: $headings-font-family;
  }
  a:hover {
    color: #e19e00;
  }
}

@media (max-width: 767px) {
  .navbar-toggle {
    margin-right: 0 !important;
  }
  .navbar .logo {
    padding-left: 0 !important;
  }
}