.view-resellers {
  .views-row {
    margin: 30px 0;
    text-align: center;
  }
  .logo-wrap {
    height: 180px;
    position: relative;
    a {
      display: inline-block;
    }
    img {
      margin: auto;
      display: block;
      max-width: 180px;
      max-height: 180px;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      position: absolute;

    }
  }
  .views-field-title {
    font-size: 18px;
    margin-top: 10px;
  }
}