.view-id-leather_technology {
  .view-header {
    margin: 30px 0 10px;
  }
  .views-row {
    position: relative;
    margin: 15px 0;
    .thumbnail-image {
      position: relative;
    }
    .content-preview {
      position: absolute;
      top: 15px;
      bottom: 15px;
      left: 30px;
      right: 30px;
    }
    .title {
      font-size: 20px;
      line-height: 1.4;
    }
    .body {
      margin-top: 5px;
    }
    .view-more {
      display: none;
      color: #222222 !important;
      padding: 10px 16px;
      border-radius: 30px;
      background-color: #fcf715;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .thumbnail-image img {
      opacity: 0.3;
      transition: 0.4s;
    }
    a {
      background-color: #000;
      display: block;
    }
    a:hover {
      .thumbnail-image img {
        opacity: 1;
        transition: 0.4s;
      }
      .title,
      .body {
        display: none;
        transition: 0.5s;
      }
      .view-more {
        display: block;
      }
    }
  }
}

@media (min-width: $screen-md-min) {
  .view-id-leather_technology {
    .view-header {
      margin: 30px 0 80px;
    }
  }
}
